@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* @layer base{
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 70px;
    }
    h3{
        font-size: 60px;
    }
    h4{
        font-size: 50px;
    }
    h5{
        font-size: 40px;
    }
    h6{
        font-size: 30px;
    }
    button{
        border: 1px solid #000000;
        padding: 10px 20px;
    }
    p{
        @apply text-2xl font-bold text-orange-900;
    }
} */
@layer components {
	/* .btn-primary{
        @apply bg-violet-500 text-white cursor-pointer p-[10px] rounded-sm hover:bg-violet-900;
    } */
	.btn {
		@apply cursor-pointer rounded-sm px-5 py-1.5 hover:bg-slate-100;
	}

	.btn-primary {
		@apply bg-blue-500 hover:bg-blue-600 text-white border-blue-500;
	}
	.btn-secondary {
		@apply bg-slate-500 hover:bg-slate-600 text-white border-slate-500;
	}
	.btn-success {
		@apply bg-green-500 hover:bg-green-600 text-white border-green-500;
	}
	.btn-danger {
		@apply bg-red-500 hover:bg-red-600 text-white border-red-500;
	}
	.btn-warning {
		@apply bg-yellow-500 hover:bg-yellow-600 text-black border-yellow-500;
	}
	.btn-info {
		@apply bg-cyan-500 hover:bg-cyan-600 text-white border-cyan-500;
	}
	.btn-dark {
		@apply bg-slate-500 hover:bg-black text-white border-black;
	}

	.custom-container {
		@apply bg-yellow-700;
		margin: --spacing(4);
		@variant lg {
			@apply bg-rose-300;
		}
	}
	.img-gallery {
		@apply w-40 rounded border-2 border-pink-600 hover:scale-110 transition duration-1000 hover:brightness-110 hover:border-2 hover:border-pink-300;
	}
}

@theme {
	--breakpoint-sm: 700px; /* Default breakpoint */
	--breakpoint-md: 900px; /* Default breakpoint */
	--breakpoint-lg: 1000px; /* Default breakpoint */
	--breakpoint-big: 1300px; /* Extended breakpoint */
	--padding-1: 50px; /* Default padding */
	--padding-custom-65: 65px; /* Custom padding */
	--padding-wrapper: 40px; /* Custom padding */
	--margin-20: 20px; /* Default margin */
	--margin-custom-78: 78px; /* Custom margin */
	--height-125: 125px; /* Default height */
	--weight-125: 125px; /* Default weight */
	--size-125: 125px; /* Default size */
	--size-custom-78: 78px;
	--text-custom-35: 35px;
	--text-custom-20: 20px;
	--font-barriecito: "Barriecito", "system-ui";
}
